<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/Javaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Biblioteca</display-name>
	<servlet>
		<servlet-name>Registrazione</servlet-name>
		<servlet-class>it.etlabora.biblioteca.servlet.RegistrazioneServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registrazione</servlet-name>
		<url-pattern>/registrazione</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>it.etlabora.biblioteca.servlet.LoginServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>index</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
<servlet>
	<servlet-name>catalogo</servlet-name>
	<servlet-class>it.etlabora.biblioteca.servlet.CatalogoServlet
	</servlet-class>
</servlet>
	<servlet-mapping>
		<servlet-name>catalogo</servlet-name>
		<url-pattern>/catalogo</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>Dettaglio</servlet-name>
	<servlet-class>it.etlabora.biblioteca.servlet.CatalogoServlet
	</servlet-class>
</servlet>
	<servlet-mapping>
		<servlet-name>Dettaglio</servlet-name>
		<url-pattern>/dettaglio</url-pattern>
	</servlet-mapping>
		<servlet>
	<servlet-name>Prenota</servlet-name>
	<servlet-class>it.etlabora.biblioteca.servlet.PrenotaServlet
	</servlet-class>
</servlet>
	<servlet-mapping>
		<servlet-name>Prenota</servlet-name>
		<url-pattern>/prenota</url-pattern>
	</servlet-mapping>
	

</web-app>